* {
  display: flex;
  flex-direction: column;
}

img {
  width: auto; 
  height: auto;   
  max-width: 100%; 
  max-height: 20rem;
  object-fit: contain;
}

html,
body {
  margin: 0;
  padding: 0;
}

title,
style,
script {
  display: none;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 17px;
}

h1,
h2,
h3 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background-color: rgb(29, 27, 26);
}

.botao_no_fundo {
  margin: 30px;
  padding: 10px;
  border-style: double;
  color: brown;
  background-color: white;
  float: right;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  box-shadow: grey 4px 4px;
}

.conteudo {
  width: 100%;
  padding: 2rem;
  max-width: 50rem;
  border-radius: 1rem;
  background-color: white;
}

.container {
  align-items: center;
}
